In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [2]:
data = pd.read_csv("C:\\Users\\User\\OneDrive\\Documents\\Faiz Khan Program\\Machine Learning\\ML with codebasics\\homeprices3.csv")

In [3]:
data

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

# Pandas Dummy Variable

In [6]:
dummies = pd.get_dummies(data.town).astype(int)
dummies

    monroe township  robinsville  west windsor
0                 1            0             0
1                 1            0             0
2                 1            0             0
3                 1            0             0
4                 1            0             0
5                 0            0             1
6                 0            0             1
7                 0            0             1
8                 0            0             1
9                 0            1             0
10                0            1             0
11                0            1             0
12                0            1             0

In [7]:
merged_data = pd.concat([data, dummies], axis=1)
merged_data

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [9]:
final_data = merged_data.drop(['town', 'robinsville'], axis=1)
final_data

    area   price  monroe township  west windsor
0   2600  550000                1             0
1   3000  565000                1             0
2   3200  610000                1             0
3   3600  680000                1             0
4   4000  725000                1             0
5   2600  585000                0             1
6   2800  615000                0             1
7   3300  650000                0             1
8   3600  710000                0             1
9   2600  575000                0             0
10  2900  600000                0             0
11  3100  620000                0             0
12  3600  695000                0             0

In [13]:
X = final_data.drop(['price'], axis=1)
y = final_data.price

In [14]:
reg1 = LinearRegression()
reg1.fit(X, y)

LinearRegression()

In [15]:
reg1.predict([[3300, 0, 1]])

C:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([668551.92431735])

In [16]:
reg1.predict([[2800, 0, 0]])

C:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([590775.6396474])

# SKLearn OneHotEncoder

In [21]:
label_encoder = LabelEncoder()
label_encoded_data = data.copy()
label_encoded_data

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [24]:
label_encoded_data.town = label_encoder.fit_transform(label_encoded_data.town)
label_encoded_data

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [50]:
# using values cuz we want a 2D array not a dataframe
X = label_encoded_data.drop(['price'], axis=1).values 
y = data.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [40]:
ct = ColumnTransformer([('town', OneHotEncoder(), [0])], remainder='passthrough')
ct

ColumnTransformer(remainder='passthrough',
                  transformers=[('town', OneHotEncoder(), [0])])

In [51]:
X = ct.fit_transform(X)
X

array([[1.0e+00, 0.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.0e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.2e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.9e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.1e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.6e+03]])

In [52]:
X = X[:, 1:]
X

array([[0.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 3.0e+03],
       [0.0e+00, 0.0e+00, 3.2e+03],
       [0.0e+00, 0.0e+00, 3.6e+03],
       [0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 1.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 2.9e+03],
       [1.0e+00, 0.0e+00, 3.1e+03],
       [1.0e+00, 0.0e+00, 3.6e+03]])

In [53]:
reg2 = LinearRegression()
reg2.fit(X, y)

LinearRegression()

In [56]:
reg2.predict([[0, 1, 3300]])

array([668551.92431735])

In [57]:
reg2.predict([[1, 0, 2800]])

array([590775.63964739])

# OneHotEncoder but using ChatGPT Steps

In [119]:
data = pd.read_csv("C:\\Users\\User\\OneDrive\\Documents\\Faiz Khan Program\\Machine Learning\\ML with codebasics\\homeprices3.csv")
data

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

### 1. Instantiate OneHotEncoder:

sparse=False ensures the output is a dense array

In [122]:
encoder = OneHotEncoder(sparse=False)

### 2. Fit and Transform Data:

In [123]:
encoder_Data = encoder.fit_transform(data[['town']])
encoder_Data

C:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])

### 3.Convert to DataFrame:

get_feature_names_out: Generates the names for the new binary columns.

In [124]:
encoded_df = pd.DataFrame(encoder_Data, columns=encoder.get_feature_names_out(['town'])).astype(int)
encoded_df

    town_monroe township  town_robinsville  town_west windsor
0                      1                 0                  0
1                      1                 0                  0
2                      1                 0                  0
3                      1                 0                  0
4                      1                 0                  0
5                      0                 0                  1
6                      0                 0                  1
7                      0                 0                  1
8                      0                 0                  1
9                      0                 1                  0
10                     0                 1                  0
11                     0                 1                  0
12                     0                 1                  0

### 4. Concatenate Original DataFrame with Encoded Data:

In [126]:
data = pd.concat([data, encoded_df], axis=1)
data

,town,area,price,town_monroe township,town_robinsville,town_west windsor
0,monroe township,2600,550000,1,0,0
1,monroe township,3000,565000,1,0,0
2,monroe township,3200,610000,1,0,0
3,monroe township,3600,680000,1,0,0
4,monroe township,4000,725000,1,0,0
5,west windsor,2600,585000,0,0,1
6,west windsor,2800,615000,0,0,1
7,west windsor,3300,650000,0,0,1
8,west windsor,3600,710000,0,0,1
9,robinsville,2600,575000,0,1,0
10,robinsville,2900,600000,0,1,0
11,robinsville,3100,620000,0,1,0
12,robinsville,3600,695000,0,1,0

### 5. Drop the Original Categorical Column (Optional):

In [129]:
data.drop(['town', 'town_west windsor'], axis=1, inplace=True)

In [130]:
data

    area   price  town_monroe township  town_robinsville
0   2600  550000                     1                 0
1   3000  565000                     1                 0
2   3200  610000                     1                 0
3   3600  680000                     1                 0
4   4000  725000                     1                 0
5   2600  585000                     0                 0
6   2800  615000                     0                 0
7   3300  650000                     0                 0
8   3600  710000                     0                 0
9   2600  575000                     0                 1
10  2900  600000                     0                 1
11  3100  620000                     0                 1
12  3600  695000                     0                 1

### 6. Split input and output and Train your model

In [133]:
X = data.drop('price', axis=1)
y = data.price

In [134]:
reg3 = LinearRegression()
reg3.fit(X, y)

LinearRegression()

In [136]:
reg3.predict([[3300, 0, 0]])

C:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([668551.92431735])

In [137]:
reg3.predict([[2800, 0,1]])

C:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([590775.63964739])

IN Conclusion, 

Dummy variable is good and the ChatGPT steps for OneHotEncoding is good as well

The Codebasics OneHotEncoding is alittle confusing